# ==========================================================
# VHNet v1
# .gitignore
# ==========================================================

# ----------------------------------------------------------
# Python
# ----------------------------------------------------------

__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

# ----------------------------------------------------------
# VS Code
# ----------------------------------------------------------

.vscode/

# ----------------------------------------------------------
# Jupyter / Colab
# ----------------------------------------------------------

.ipynb_checkpoints/

# ----------------------------------------------------------
# Python Environment
# ----------------------------------------------------------

.env

# ----------------------------------------------------------
# Model Checkpoints
# ----------------------------------------------------------

models/checkpoints/
models/*.pth
models/*.pt

# ----------------------------------------------------------
# Dataset
# ----------------------------------------------------------

Processed_Dataset/
Raw_Scenes/
Extracted_Scenes/

# ----------------------------------------------------------
# Inference Outputs
# ----------------------------------------------------------

backend/static/results/*
uploads/*

# ----------------------------------------------------------
# Reports
# ----------------------------------------------------------

reports/*
*.pdf

# ----------------------------------------------------------
# Logs
# ----------------------------------------------------------

*.log

# ----------------------------------------------------------
# Operating System
# ----------------------------------------------------------

.DS_Store
Thumbs.db

# ----------------------------------------------------------
# Keep Empty Folders
# ----------------------------------------------------------

!backend/static/results/.gitkeep
!uploads/.gitkeep
!reports/.gitkeep