# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================
venv/
.venv/
env/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Dataset
# ==========================================
dataset/

# ==========================================
# Model Checkpoints
# ==========================================
*.pth
*.pt

# ==========================================
# Uploads
# ==========================================
uploads/

# ==========================================
# Generated Results
# ==========================================
output/
static/results/
backend/static/results/

# ==========================================
# Reports
# ==========================================
backend/static/image/VoidHunter_AI_Report*.pdf

# ==========================================
# Logs
# ==========================================
*.log
logs/

# ==========================================
# OS Files
# ==========================================
Thumbs.db
.DS_Store