/*==================================================
            VOID HUNTER
            VARIABLES
==================================================*/

:root{

    /*====================================
                COLORS
    ====================================*/

    --primary:#4db7ff;
    --primary-light:#6ddcff;
    --primary-dark:#2189ff;

    --success:#43ff99;
    --warning:#ffc857;
    --danger:#ff6464;

    /*====================================
                BACKGROUND
    ====================================*/

    --bg:#01060f;
    --bg-secondary:#07121e;
    --bg-tertiary:#0d1b2a;

    /*====================================
                TEXT
    ====================================*/

    --heading:#ffffff;
    --text:#eef4fb;
    --text-light:#c8d5e4;
    --paragraph:wheat;

    /*====================================
                GLASS
    ====================================*/

    --glass:rgba(7,18,30,.40);
    --glass-dark:rgba(12,28,45,.55);

    --glass-border:rgba(255,255,255,.08);
    --glass-border-hover:rgba(77,183,255,.35);

    --glass-highlight:rgba(255,255,255,.06);
    --glass-highlight-2:rgba(255,255,255,.18);

    /*====================================
                EFFECTS
    ====================================*/

    --primary-glow:rgba(77,183,255,.18);
    --primary-shadow:rgba(77,183,255,.28);
    --success-glow:rgba(67,255,153,.35);

    --hover-bg:rgba(77,183,255,.08);

    --shadow:rgba(0,0,0,.35);

    /*====================================
                BUTTON
    ====================================*/

    --btn-gradient:
        linear-gradient(
            135deg,
            var(--primary-dark),
            var(--primary-light)
        );

    /*====================================
                BORDER
    ====================================*/

    --primary-border:
        rgba(77,183,255,.35);

    /*====================================
                SHADOWS
    ====================================*/

    --card-shadow:
        0 25px 60px rgba(0,0,0,.35);

    --glass-shadow:
        0 15px 35px rgba(0,0,0,.35);

    --hover-shadow:
        0 40px 80px rgba(0,0,0,.35),
        0 0 35px rgba(77,183,255,.20);

    /*====================================
                RADIUS
    ====================================*/

    --radius-sm:16px;
    --radius:24px;
    --radius-lg:32px;
    --radius-xl:50px;

    /*====================================
                BLUR
    ====================================*/

    --blur:20px;
    --blur-lg:35px;

    /*====================================
                TRANSITION
    ====================================*/

    --transition:.35s ease;
    --transition-slow:.45s ease;

    /*====================================
                SCROLLBAR
    ====================================*/

    --scroll:#295b88;

}